.banner--bg-img {
    background-image: url(assets/images/bg.jpg); 
    background-position: bottom;
    background-size: cover;
}
.bg--light {
    background-color: var(--bg-gray);
    color: var(--color-black);
}
.bg--dark {
    background-color: var(--bg-black);
    color: var(--color-white);
}

%structure-active {
    border-bottom: 5px solid var(--color-brown);
}

.menu__link--active {
    @extend %structure-active;
}

.projects__filters__item--active {
    @extend %structure-active;
}

