.projects__body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects__body__filters {
    background-color: var(--color-light-gray);
    list-style: none;
    border: 1px solid var(--color-dark-gray);
    border-radius: 35px;
    padding: 0px 20px;
}
.projects__filters__item {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-left: 1px solid var(--color-dark-gray);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-dark-gray);
    border-bottom: 5px solid var(--color-light-gray);
    cursor: pointer;

    &:hover {
        border-bottom: 5px solid var(--color-brown);
    }

    &.projects__filters__item:first-child {
        border-left: none;
    }
}
