.section__team--bg {
    background-image: url(../images/bg-team.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    
}

.team {
    overflow: hidden;
    max-width: 890px;
    margin: auto;
}
.team__sliders {
    height: 100%;
    width: 1000vw;
}
.team__slide {
    width: 280px;
    background-color: #fff;
    margin-right: 20px;
    display: inline-block;
    background-color: var(--color-white);
    height: 100%;
}
.team__slide__area {
    display: flex;
    color: var(--color-white);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px;
}

.team__pointers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 20px;
}
.team__pointer {
    width: 15px;
    height: 15px;
    border: 2px solid var(--bg-brown);
    border-radius: 8px;
    margin: 0px 5px;
}
.team__pointer--active {
    background-color: var(--bg-brown);
}

.team__members__avatar {
    margin: auto;
    width: 150px;

}

.team__members__name {
    @extend %structure-title;
    color: var(--color-dark-gray);
    font-weight: 600;
    font-size: 20px;
    margin-top: 20px;
}
.team__members__role {
    @extend %structure-desc;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
}

.team__members__social {
    display: flex;
    justify-content: center;
}
.social {
    height: 30px;
    width: 30px;
    background-color: var(--color-desc);
    border-radius: 50px;
    margin: 20px 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--bg-brown);
    }
}
