:root {
    --bg-black : #000;
    --bg-brown: #b88b58;
    --bg-gray: #f7f7f7;
    --bg-btn: #b88b58;
    --color-brown: #b88b58;
    --color-white : #fff;
    --color-black: #000;
    --color-desc: #b3b3b3;
    --color-shadow: #252525;
    --color-dark-gray: #555;
    --color-light-gray: #ededed;
    --font-size-menu: 15px;
}
