@import "vars";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

@import "header";
@import "banner";

@import "buttons";
%structure-section {
    padding: 30px 0px;
}

%structure-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

%structure-desc {
    @extend %structure-title;
    font-size: 15px;
    color: var(--color-desc);
}

%structure-body {
    max-width: 1140px;
    margin: auto;
    padding: 50px 0px;
}

.section {
    @extend %structure-section;
}

.section__title {
    @extend %structure-title;
}

.section__desc {
    @extend %structure-desc;
}
.section__body {
    @extend %structure-body;
}
@import "about";
@import "projects";
@import "services";
@import "team";
@import "modifiers";