:root {
  --bg-black: #000;
  --bg-brown: #b88b58;
  --bg-gray: #f7f7f7;
  --bg-btn: #b88b58;
  --color-brown: #b88b58;
  --color-white: #fff;
  --color-black: #000;
  --color-desc: #b3b3b3;
  --color-shadow: #252525;
  --color-dark-gray: #989898;
  --color-light-gray: #ededed;
  --font-size-menu: 15px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

.header {
  height: 100px;
  background-color: var(--bg-black);
}

.container {
  height: 100px;
  max-width: 1140px;
  display: flex;
  margin: auto;
  align-items: center;
}

.logo {
  width: 100px;
}

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.menu__item {
  display: flex;
}

.menu__link {
  text-decoration: none;
  display: flex;
  padding: 10px;
  color: var(--color-white);
  font-size: var(--font-size-menu);
  font-weight: 600;
  text-transform: uppercase;
  height: 100px;
  align-items: center;
  border-bottom: 5px solid #000;
}
.menu__link:hover {
  border-bottom: 5px solid var(--color-brown);
}

.banner {
  height: calc(100vh - 100px);
  overflow: hidden;
}

.banner__sliders {
  height: 100%;
  width: 1000vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner__slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
}

.banner__slide__area {
  display: flex;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.banner__slide__area__h1 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
}

.banner__slide__area__h1--color {
  color: var(--color-brown);
}

.banner__slide__area__h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.banner__pointers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
}

.banner__pointer {
  width: 15px;
  height: 15px;
  border: 2px solid var(--bg-brown);
  border-radius: 8px;
  margin: 0px 5px;
}

.banner__pointer--active {
  background-color: var(--bg-brown);
}

.about__left__btn, .banner__slide__area__button {
  display: inline-block;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 13px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--bg-btn);
  color: var(--color-white);
}

.banner__slide__area__button {
  background-color: var(--bg-brown);
  color: var(--color-white);
}

.banner__slide__area__button {
  margin-top: 50px;
}

.section {
  padding: 30px 0px;
}

.services__body__service__title, .section__title, .services__body__service__desc, .section__desc {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.services__body__service__desc, .section__desc {
  font-size: 15px;
  color: var(--color-desc);
}

.section__body {
  max-width: 1140px;
  margin: auto;
  padding: 50px 0px;
}

.about__body {
  display: flex;
}

.about__body__left {
  flex: 1;
}

.about__body__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.about__body__right {
  width: 500px;
}

.about__image {
  width: 480px;
  margin: 0px 10px;
  box-shadow: 0px 5px 15px var(--color-shadow);
}

.projects__body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.projects__body__filters {
  background-color: var(--color-light-gray);
  list-style: none;
  border: 1px solid var(--color-dark-gray);
  border-radius: 35px;
  padding: 0px 20px;
}

.projects__filters__item {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-left: 1px solid var(--color-dark-gray);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-dark-gray);
  border-bottom: 5px solid var(--color-light-gray);
  cursor: pointer;
}
.projects__filters__item:hover {
  border-bottom: 5px solid var(--color-brown);
}
.projects__filters__item.projects__filters__item:first-child {
  border-left: none;
}

.services__body {
  display: flex;
}

.services__body__service {
  text-align: center;
  flex: 1;
  padding: 15px;
  border-left: 1px solid var(--color-desc);
}
.services__body__service.services__body__service:last-child {
  border-right: 1px solid var(--color-desc);
}

.services__body__service__title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
}

.services__body__service__desc {
  font-size: 13px;
  text-transform: initial;
  line-height: 20px;
}

.banner--bg-img {
  background-image: url(../images/bg.jpg);
  background-position: bottom;
  background-size: cover;
}

.bg--light {
  background-color: var(--bg-gray);
  color: var(--color-black);
}

.bg--dark {
  background-color: var(--bg-black);
  color: var(--color-white);
}

.projects__filters__item--active, .menu__link--active {
  border-bottom: 5px solid var(--color-brown);
}
